$maintime: 3s;
$legspeed: 0.15s;

.stage {
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 250px;
  box-sizing: border-box;
}
.main {
  position: relative;
}
.main-stage {
  width: 200px;
  height: 200px;
  transform: translateY(0);
  transform-origin: center center;
  animation: jump $maintime ease-out 0s infinite normal none;
}

// @keyframes jump {
//   45% {
//     transform: translateY(0px);
//   }
//   48% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(0) scale(0.5, 0.5);
//   }
//   60% {
//     transform: translateY(0) scale(0.4, 0.4);
//   }
//   65% {
//     transform: translateY(0) scale(0.2, 0.2);
//   }
//   68% {
//     transform: translateY(0) scale(0.5, 0.5);
//   }
//   80% {
//     transform: translateY(0);
//   }
// }

@keyframes jump {
  38% {
    transform: translateY(0px);
  }
  46% {
    transform: translateY(-65px);
  }
  49% {
    transform: translateY(-45px);
  }
  53% {
    transform: translateY(-45px);
  }
  58% {
    transform: translateY(-90px);
  }
  61%,
  62% {
    transform: translateY(-80px);
  }
  68% {
    transform: translateY(-120px) rotate(150deg);
  }
  70% {
    transform: translateY(-150px) rotate(210deg);
  }
  90% {
    transform: translateY(0) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.head {
  position: absolute;
  top: 103px;
  right: 80px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
}
.body {
  position: absolute;
  top: 133px;
  right: 105px;
  width: 2px;
  height: 45px;
  border-radius: 1px;
  background-color: #000;
  transform: rotate(41deg);
  transform-origin: center top;
}
.right-hand {
  position: absolute;
  top: 136px;
  right: 102px;
  width: 2px;
  height: 35px;
  border-radius: 1px;
  background-color: #000;
  transform: translate(-12px, 7px) rotate(-275deg);
  transform-origin: center top;
  animation: right-hand $maintime ease-out 0s infinite normal none;
}
.left-hand {
  position: absolute;
  top: 136px;
  right: 119px;
  width: 2px;
  height: 35px;
  border-radius: 1px;
  background-color: #000;
  transform: translate(4px, 8px) rotate(78deg);
  transform-origin: center top;
  animation: left-hand $maintime ease-out 0s infinite normal none;
}
.right-leg1 {
  position: absolute;
  top: 166px;
  right: 134px;
  width: 2px;
  height: 20px;
  border-radius: 1px;
  background-color: #000;
  transform: rotate(-75deg);
  transform-origin: center top;
  animation: right-leg1 $legspeed linear 0s infinite normal none;
}
.right-leg2 {
  position: absolute;
  top: 171px;
  right: 115px;
  width: 2px;
  height: 25px;
  border-radius: 1px;
  background-color: #000;
  transform: translate(0, 0) rotate(67deg);
  transform-origin: center top;
  animation: right-leg2 $legspeed linear 0s infinite normal none;
}
.left-leg1 {
  position: absolute;
  top: 166px;
  right: 134px;
  width: 2px;
  height: 20px;
  border-radius: 1px;
  background-color: #000;
  transform: rotate(48deg);
  transform-origin: center top;
  animation: left-leg1 $legspeed linear 0s infinite normal none;
}
.left-leg2 {
  position: absolute;
  top: 178px;
  right: 147px;
  width: 2px;
  height: 25px;
  border-radius: 1px;
  background-color: #000;
  transform: translate(0, 0) rotate(57deg);
  transform-origin: center top;
  animation: left-leg2 $legspeed linear 0s infinite normal none;
}

@keyframes right-hand {
  61% {
    transform: translate(-12px, 7px) rotate(-275deg);
  }
  68% {
    transform: translate(-12px, 7px) rotate(-455deg);
  }
  88% {
    transform: translate(-12px, 7px) rotate(-275deg);
  }
  100% {
    transform: translate(-12px, 7px) rotate(-275deg);
  }
}
@keyframes left-hand {
  61% {
    transform: translate(4px, 8px) rotate(78deg);
  }
  68% {
    transform: translate(4px, 8px) rotate(-72deg);
  }
  88% {
    transform: translate(4px, 8px) rotate(78deg);
  }
  100% {
    transform: translate(4px, 8px) rotate(78deg);
  }
}
@keyframes right-leg1 {
  0% {
    transform: rotate(-75deg);
  }
  25% {
    transform: rotate(-31deg);
  }
  50% {
    transform: rotate(48deg);
  }
  75% {
    transform: rotate(-31deg);
  }
  100% {
    transform: rotate(-75deg);
  }
}
@keyframes right-leg2 {
  0% {
    transform: translate(0, 0) rotate(67deg);
  }
  25% {
    transform: translate(-8px, 12px) rotate(47deg);
  }
  50% {
    transform: translate(-32px, 7px) rotate(57deg);
  }
  75% {
    transform: translate(-8px, 12px) rotate(47deg);
  }
  100% {
    transform: translate(0, 0) rotate(67deg);
  }
}
@keyframes left-leg1 {
  0% {
    transform: rotate(48deg);
  }
  25% {
    transform: rotate(27deg);
  }
  50% {
    transform: rotate(-75deg);
  }
  75% {
    transform: rotate(27deg);
  }
  100% {
    transform: rotate(48deg);
  }
}
@keyframes left-leg2 {
  0% {
    transform: translate(0, 0) rotate(57deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(45deg);
  }
  50% {
    transform: translate(32px, -7px) rotate(67deg);
  }
  75% {
    transform: translate(5px, 5px) rotate(45deg);
  }
  100% {
    transform: translate(0, 0) rotate(57deg);
  }
}

.box {
  position: relative;
  display: flex;
  width: 200px;
  height: 0px;
  border-bottom: 1px solid black;
  &1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: green;
    width: 200px;
    height: 50px;
    animation: boxmove1 $maintime linear 0s infinite normal none;
  }
  &2 {
    position: absolute;
    bottom: 0px;
    left: 250px;
    background-color: green;
    width: 100px;
    height: 80px;
    animation: boxmove1 $maintime linear 0s infinite normal none;
  }
}
@keyframes boxmove1 {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(-1200px);
  }
}
